html
    head
        title  Ynote_hk - dl-podcasts
    body
        h1  dl-podcasts
        h2  List of mp3 from #[a(href='https://github.com/Ynote/dl-podcasts/blob/master/conf/podcasts.json') a list of podcasts]

        ul
            each list in podcasts
                li= list.distributor
                    ul
                        each stream in list.streams
                            li= stream.title
                                ul
                                    each podcast in stream.podcasts
                                        li [ #{podcast.date} ] #[a(href=podcast.mp3, download) #{podcast.title}]
